global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'empresa-api'
    static_configs:
      - targets: ['api:3001']
    metrics_path: '/metrics'
    scrape_interval: 5s
    scrape_timeout: 5s

  - job_name: 'empresa-db'
    static_configs:
      - targets: ['db:5432']
    scrape_interval: 30s

  - job_name: 'empresa-redis'
    static_configs:
      - targets: ['redis:6379']
    scrape_interval: 30s
